@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*-- scss:defaults --*/

// use Open Sans font if available
$font-family-sans-serif:  "Open Sans", !default;

// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #a2aaad !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #505759 !default;
$gray-800: #303030 !default;
$gray-900: #373a36 !default;
$black:    #000 !default;

$blue:    #615e9b !default;
$indigo:  #002554 !default;
$purple:  #c4d600 !default;
$pink:    #5e4b3c !default;
$red:     #cb6015 !default;
$orange:  #ff9e1b !default;
$yellow:  #ffc72c !default;
$green:   #44693d !default;
$teal:    #00aec7 !default;
$cyan:    #86c8bc !default;
$maroon:  #881c1c !default;

$link-color: maroon;

/*-- scss:rules --*/

$web-font-path: 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'!default;
